.git
.gitignore
.pytest_cache
.mypy_cache
.ruff_cache
.venv
__pycache__
*.py[cod]
*.pyo
*.pyd

records
external/tennessee_eastman/extracted
external/tennessee_eastman/*.zip
external/tennessee_eastman/*.tar
external/tennessee_eastman/*.tar.gz

build
dist
*.egg-info

.env
.env.*
!.env.example
